.mainContainerr{
    position:relative;
    width:600px;
    height:200px;
    border:solid black 1px;
    margin:100px auto;
}

.ball{
    position: absolute;
    width:20px;
    height:20px;

    border-radius: 20px;
    transition: all 1s;
}

.buttons{
    display:flex;
    justify-content: center;
}