.wrapper{
    display:flex;
    justify-content: space-between;
}

.wrapper__level{
    flex-basis: 20%;
    background: grey;
}

.wrapper__progress{
    flex-basis: 60%;
    background: grey;
}

.wrapper__bar{
    background: green;
    /* width:40%; */
    height:100%;
}
.wrapper__level{
    margin: 2px auto;
    text-align: center;
}